[Desktop Entry]
Name=QQ
Exec=sh -c "exec \\"\\$HOME/Applications/QQ.AppImage\\""
Type=Application
Icon=qq
Terminal=false
Categories=Network;InstantMessaging;
Comment=QQ Desktop Client
