[Desktop Entry]
Name=WeChat
Exec=/home/nastem/Applications/WeChat.AppImage
Type=Application
Icon=/home/nastem/.local/share/icons/wechat.png
Terminal=false
Categories=Network;InstantMessaging;
Comment=WeChat Desktop Client
