[Desktop Entry]
Name=WeChat
Exec=env QT_IM_MODULE=fcitx GTK_IM_MODULE=fcitx XMODIFIERS=@im=fcitx /home/nastem/Applications/WeChat.AppImage
Type=Application
Icon=/home/nastem/.local/share/icons/wechat.png
Terminal=false
StartupWMClass=wechat
Categories=Network;InstantMessaging;
Comment=WeChat Desktop Client
