[Desktop Entry]
Name=Yazi
Exec=sh -c "exec \\"\\$HOME/.local/bin/yazi-desktop\\" \\"\\$@\\"" yazi-desktop %U
Type=Application
Icon=yazi
Terminal=false
StartupWMClass=yazi
Categories=System;FileManager;Utility;
Comment=Terminal file manager
