configs/rime/build/
configs/rime/*.userdb/
configs/rime/sync/
configs/rime/user.yaml
backups/**/*.tar.gz
backups/**/.last_backup
configs/baidupcs/pcs_config.json
configs/baidupcs/pcs_command_history.txt
