[Unit]
Description=Run dpms-toggle log cleanup

[Timer]
OnBootSec=5min
OnUnitActiveSec=1d
AccuracySec=1h
RandomizedDelaySec=30min
Unit=archpostinstall-dpms-log-cleanup.service

[Install]
WantedBy=default.target
