[Unit]
Description=Restore apps when display turns on
ConditionPathExists=%h/.cache/archpostinstall/dpms.state

[Service]
Type=oneshot
ExecStart=%h/.local/bin/dpms-toggle --restore
