[Unit]
Description=Poll for display-on to restore apps

[Timer]
OnBootSec=2min
OnUnitActiveSec=45s
AccuracySec=15s
RandomizedDelaySec=12s
Unit=archpostinstall-dpms-restore.service

[Install]
WantedBy=default.target
